<div class="card employee-card">
    <div class="row no-gutters h-100">
        <div class="col-sm-5 text-center card-header rounded-left">
            <h5 class="p-2"><i class="fas fa-user-graduate fa-2x circle-icon"></i></h5>
            <h5 class="card-title">{{ role }}</h5>
        </div>
        <div class="col-sm-7">
            <div class="card-body">
                <h5 class="card-title">{{ name }}</h5>
                <p class="employee-details">ID: {{ id }}</p>
                <p class="employee-details">Email: <a href="mailto:{{ email }}">{{ email }}</a></p>
                <p class="employee-details">School: {{ school }}</p>
            </div>
        </div>
    </div>
</div>